html{
    padding: 0;
    margin: 0;
}

.thumb{
    padding: 0;
    margin: 0;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

#container{
  width: 1440px;
  height: 900px;

}

.highlight{
  border-color: yellow;
  border-width: 2px;
  border-style: solid;
}
